header.layout__header {
  position: relative;
  z-index: -1;
}

.layout__logo_container {
  background-color: black;
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

.img-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

main.layout__main {
  margin-top: -80px;
  margin-inline: 16px;

  padding: 16px;

  background-color: var(--black-primary);
  border: 1px solid #393b3f;
  border-radius: 8px;
}
