header.country-header {
  text-align: center;

  h1,
  p {
    margin: 0;
    line-height: 1;
  }

  img {
    margin-top: -50px;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  h1 {
    margin-bottom: 8px;
  }
}

.country-header-main-info {
  margin-bottom: 24px;
}

.country-header-data {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

ul.country-main-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #393b3f;
    padding: 24px 16px;
    &:last-of-type {
      border-bottom: 1px solid #393b3f;
    }
  }


}