header.country-header {
  text-align: center;

  h1,
  p {
    margin: 0;
    line-height: 1;
  }

  img {
    margin-top: -50px;
    border-radius: 8px;
    margin-bottom: 16px;
  }

  h1 {
    margin-bottom: 8px;
  }
}

.country-header-main-info {
  margin-bottom: 24px;
}

.country-header-data {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}