@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black-primary: #1c1d1f;
  --black-secondary: #282b30;
  --blue-primary: #4e80ee;
  --gray-primary: #6c727f;
  --gray-secondary: #d2d5da;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--black-primary);
  color: var(--gray-secondary);

  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
a,
button,
input {
  font-family: 'Be Vietnam Pro', sans-serif;
}

