#root {
  --black-primary: #1c1d1f;
  --black-secondary: #282b30;
  --blue-primary: #4e80ee;
  --gray-primary: #6c727f;
  --gray-secondary: #d2d5da;
}

body {
  background-color: #1c1d1f;
  color: #d2d5da;

  margin: 0;
}
